<ion-content [fullscreen]="true">
  <div class="centerx">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img src="assets/Dashy-Logo.png" alt="Logo" class="center-image" />
          </div>
        </ion-col>
      </ion-row>

      <div class="center-inputs">
        <div class="div-inputs">


        <form [formGroup]="loginForm">

          <div *ngIf="loginError" class="error-message">
            {{ loginError }}
          </div>

          <ion-row>
            <ion-col>

              <ion-label position="floating">Username</ion-label>
              <ion-input formControlName="dniPropietario" type="text" placeholder="Usuario">

              <div *ngIf="dniPropietario.invalid && (dniPropietario.dirty || dniPropietario.touched)" class="error-message-inputs">
                <div *ngIf="dniPropietario.errors?.['required']">
                  El Dni es requerido.
                </div>
              </div>
            </ion-input>
            
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>

              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" placeholder="Contraseña">

              <ion-input-password-toggle slot="end"></ion-input-password-toggle>

              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message-inputs">
                <div *ngIf="password.errors?.['required']">
                  El Password es requerido.
                </div>
              </div>
            </ion-input>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" class="button-login" (click)="login()" expand="block">
                Iniciar Sesión
              </ion-button>
            </ion-col>
          </ion-row>
          <div class="login-divider"></div>
          <h2>¿Aún no se ha registrado? Cree una cuenta</h2>
          <ion-row>
            <ion-col>
              <ion-button class="button-create" expand="block" routerLink="/register">
                Crear Cuenta
              </ion-button>
            </ion-col>
          </ion-row>
        </form> 

        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
