<ion-content [fullscreen]="true">
  <div class="header">
    <ion-buttons slot="start" class="ion-no-padding">
      <ion-button class="btnRet" color="black" routerLink="/tabs/tab2">
        <ion-icon class="icRet" name="caret-back"></ion-icon>
      </ion-button>
      <ion-title class="ion-no-padding">PRODUCTO</ion-title>
    </ion-buttons>
  </div>
  <img class="imgPro" src="assets/ImgUpd-Cre/UClog.png" alt="Product">

  <ion-list lines="none">
    <div class="container ion-padding">
      <!-- <div class="contImg">
        <div *ngIf="fotoTomada" clas="subImg">
        <img class="image-container" [src]="fotoTomada" alt="Foto tomada">
        </div>
      </div> -->
      
      <form [formGroup]="productoForm" (ngSubmit)="registrarProducto()">

        <ion-item>
          <ion-label>Imagen</ion-label>
          <ion-input type="file" (change)="onFileChange($event)"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="nombreProducto" type="text" label="Nombre de Producto" labelPlacement="floating" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="descripcion" type="text" label="Descripción" labelPlacement="floating" placeholder="Descripción"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="precio" label="Precio" labelPlacement="floating" type="number" placeholder="Precio"></ion-input>
        </ion-item>

        <ion-button class="btnup" type="submit">Subir</ion-button>
      </form>
    
    </div>
  </ion-list>
</ion-content>