<ion-content>
  <div class="header">
    <p class="ptit">PRODUCTOS</p>
    <p class="psub">DE TIENDA</p>
  </div>
  <img class="imgPro" src="assets/Img-products/ProLog.png" alt="Report">
  <ion-list lines="none">
    <div class="container">
      <div class="search">
        <ion-searchbar search-icon="fast-food"
          placeholder="Buscar producto"></ion-searchbar>
      </div>
      <ion-card *ngFor="let product of products">
        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
          <ion-label>{{ product.description }}</ion-label>
          <ion-card-subtitle>Precio:</ion-card-subtitle>
          <ion-label>{{ product.price }}</ion-label>
        </ion-card-header>
        <ion-card-content >
          <img [src]="product.image" alt="{{ product.name }}">
          <ion-buttons>
            <ion-button style="--border-radius: 50px;" class="update" (click)="updateProduct(product)" routerLink="/update">ACTUALIZAR</ion-button>
            <ion-toggle class="switch" aria-label="Success toggle" color="dark" checked="{{ product.estado}}"></ion-toggle>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="AddPro" routerLink="/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>