<ion-content [fullscreen]="true">
  <div class="header">
    <p class="ptit">PEDIDOS</p>
    <p class="psub">EN PROCESO</p>
  </div>
  <img class="imgPhe" src="assets/ImgDeliMan/PLogHe.png" alt="Plog">
  <ion-list>
    <ion-item class="ContGe ion-no-padding">
      <div>
        <ion-card>
          <ion-card-content class="ion-no-border">
            <ion-grid>
              <ion-row>
                <ion-col class="PImg ion-no-padding" size="4">
                  <img class="product" src="assets/ImgDeliMan/casino.jpg" alt="Image">
                </ion-col>
                <ion-col size="8">
                  <ion-card-title>Galleta Casino</ion-card-title>
                  <ion-card-subtitle>Galleta rica sabor a chocolate</ion-card-subtitle>
                  <p class="cant">Cantidad: 5</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <div class="DetPed">
          <div class="ion-padding">
            <p class="total">Total:</p>
            <p class="total-price">4.00</p>
            <h4 class="shipping-detail">Detalle de Envío</h4>
            <p class="details-floor"></p>
            <div class="button-container">
              <ion-select label="Estado de Pedido" label-placement="stacked" interface="popover"
                placeholder="Selecciona">
                <ion-select-option value="EN_CAMINO">EN CAMINO</ion-select-option>
                <ion-select-option value="ENTREGADO">ENTREGADO</ion-select-option>
              </ion-select>
              <ion-button  expand="block" fill="clear" shape="round">
                Actualizar
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="AddPro" (click)="cerrarSesion()">
      <ion-icon name="power-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>