<ion-content [fullscreen]="true">
  <div class="header">
    <p class="ptit">PEDIDOS</p>
    <p class="psub">EN PROCESO</p>
  </div>
  <img class="imgPhe" src="assets/ImgDeliMan/PLogHe.png" alt="Plog">
  <ion-list>
    <ion-item class="ContGe ion-no-padding">
      <div>
        <ion-item class="ImgItem" lines="none">
          <img src="assets/ImgDeliMan/pabellon.jpg" alt="Imagen del producto" class="ImgLoc">
        </ion-item>
        <ion-card>
          <ion-card-content class="ion-no-border">
            <ion-grid>
              <ion-row>
                <ion-col class="PImg ion-no-padding" size="4">
                  <img class="product" src="assets/ImgDeliMan/casino.jpg" alt="Image">
                </ion-col>
                <ion-col size="8">
                  <ion-card-title>Galleta Casino</ion-card-title>
                  <ion-card-subtitle>Galleta rica sabor a chocolate</ion-card-subtitle>
                  <p class="cant">Cantidad: 5</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <div class="DetPed">
          <div class="ion-padding">
            <p class="total">Total:</p>
            <p class="total-price">4.00</p>
            <h4 class="shipping-detail">Detalle de Envío</h4>
            <p class="details-floor">Piso:</p>
            <p class="details-fnum">2</p><br>
            <p class="details-room">Pabellón:</p>
            <p class="details-rnum">A</p><br>
            <p class="details-clas">Aula(opcional):</p>
            <p class="details-cnum">201</p>
            <div class="button-container">
              <ion-select label="Estado de Pedido" label-placement="stacked" interface="popover"
                placeholder="Selecciona">
                <ion-select-option value="En proceso">En proceso</ion-select-option>
                <ion-select-option value="En envío">En envío</ion-select-option>
                <ion-select-option value="Terminado">Terminado</ion-select-option>
              </ion-select>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>