<ion-content [fullscreen]="true">
  <div class="header">
    <p class="ptit">PEDIDOS</p>
    <p class="psub">EN PROCESO</p>
  </div>
  <img class="imgPhe" src="assets/ImgDeliMan/PLogHe.png" alt="Plog" />
  <ion-list>
    <ion-item class="ContGe ion-no-padding">
      <div class="box">
        <ion-card>
          <ion-card-content class="ion-no-border">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-card-title>Productos</ion-card-title>
                  <ion-button class="btnview" color="#72C28F">
                    <ion-icon name="eye"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <div class="DetPed">
          <div class="ion-padding">
            <p class="total">Total:</p>
            <p class="total-price">4.00</p>
            <h4 class="shipping-detail">Detalle de Envío</h4>
            <p class="details-floor"></p>
            <div class="button-container">
              <ion-select
                label="Estado de Pedido"
                label-placement="stacked"
                interface="popover"
                placeholder="Selecciona"
              >
                <ion-select-option value="EN_CAMINO"
                  >EN CAMINO</ion-select-option
                >
                <ion-select-option value="ENTREGADO"
                  >ENTREGADO</ion-select-option
                >
              </ion-select>
              <ion-button expand="block" fill="clear" shape="round">
                Actualizar
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="AddPro" (click)="cerrarSesion()">
      <ion-icon name="power-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal>
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>DETALLE DE PEDIDO</ion-title>
      </ion-toolbar>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img
              src="assets/bolsa.png"
            ></ion-img>
          </ion-avatar>
          <ion-label>
            <h2></h2>
            <h3>Cantidad:</h3>
            <h3></h3>
            <h3>Precio:</h3>
            <h3></h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Total:</h3>
            <h3></h3>
          </ion-label>
        </ion-item>
      </ion-list>
      

      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Dirección de entrega:</h3>
            <h3></h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>